@import 'helpers/variables.scss';
@import 'helpers/mixims.scss';
@import 'base/global.scss';
@import 'layout/header.scss';
@import 'layout/footer.scss';
@import 'pages/home.scss';
@import 'pages/columnistas.scss';
@import 'pages/blogs.scss';
@import 'pages/contacto.scss';
@import 'layout/responsive.scss';


body {
	background-image: url("../image/13267862_10153685807771973_2671341438060082488_n.jpg"),
	url("../image/13227038_10153685807816973_1330493536409003322_n.jpg");
	background-position: top 300px left, top 300px right;
	background-repeat: no-repeat;
}

