/* HEADER */

.gris-bar {
	background-color: $gris-claro;
}

.fa-facebook-f {
	background-color: $color-facebook;
}
.fa-twitter {
	background-color: $color-twitter;
}
.fa-google-plus {
	background-color: $color-google;
}
.fa-envelope {
	background-color: $color-mail;
}
.fa-search {
	background-color: $color-feed;
}