/* ---BLOGS--- */
/* ------------ */

.blogs {
	padding: 30px 0px;
	.cuadro{
	border: 2px solid $gris-claro;
	width: 290px;
	height: 250px;
	margin: 10px;
	content: " ";
	.ecuadro{
	    	width: 270px;
	    	height: 120px;
	    }
	    .recuadro{
	    	    background-color: $gris-claro;
	    	 	width: 270px; 
	    	 	height: 107px;
	    	 	display: block;
	    	}
	    	.im{
	    		border: 2px solid $white;
	    		margin: 10px;
	    	}
	}
	.B{
		color: $black;
	}

	.B1{
		color: $black;
		padding: 10px;
		vertical-align: middle;
		text-align: center;
	}
	 .B2 {
	   color: $black;

	   vertical-align: middle;
	 }
	 .Grios{
		color: $gris-oscuro;
		text-align: center;
		margin-top: -12px;

	}
	.gris{
		color: $gris-oscuro;
	}

	 p {
	  	text-align: center;
	  	padding-top: 20px;
	  }


}
