/* ------------ */
/* ----HOME---- */

.titular {
	h1 {
		font-size: 50px;
		font-weight: bold;
	}
	.bajada {
		p {
			display: inline;
		}
		.bullet {
			margin: 0px 10px;
		}
	}
	.img1 {
		background-image: url("../image/img_grid_principal.jpg");
		width: 98%;
		height: 500px;
		color: white;
	}
	.img2 {
		background-image: url("../image/img_grid_secundario.jpg");
		width: 98%;
		height: 240px;
		color: white;
	}
	.img3 {
		background-image: url("../image/img_video_destacado.jpg");
		width: 98%;
		height: 240px;
		background-size: 100%;
		color: white;
	}
}

.columnistas {
	background-color: $gris-claro;
	border-top: 3px solid $rojo;
	padding: 30px 0px;
	margin-top: 40px;
	.etiqueta {
		background-color: $rojo;
		color: white;
		padding: 1px 1px;
		width: 140px;
		margin: 0 auto;
		margin-top: -40px;
	}
	.box-columnista {
		width: 150px;
		display: inline-block;
		img {
			width: 70px;
			height: 70px;
			margin-top: 20px;
			background-color: white;
			padding: 3px 3px;
			border: 1px solid grey;
		}
		h5 {
			font-weight: bold;
		}
	}
}

.red-text {
	color: $rojo;
}

.destacado {
	margin: 50px 0px;
	.destacados {
		border: 1px solid grey;
		width: 350px;
		height: 300px;
		margin-bottom: 20px;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.ultimas-noticias {
	margin: 50px 0px;
	h5 {
		color: grey;
		display: inline;
		font-weight: bold;
	}
	.news {
		margin: 20px 0px;
		padding-right: 10px;
		.fecha {
			font-size: 12px;
		}
		h4 {
			font-weight: bold;
		}
		img {
			float: left;
			margin-right: 10px;
		}
	}
}