/* ------------ */
/* ----HOME---- */

.titular {
	h1 {
		font-size: 50px;
		font-weight: bold;
	}
	.bajada {
		p {
			display: inline;
		}
		.bullet {
			margin: 0px 10px;
		}
	}
	.img1 {
		background-image: url("../image/img_grid_principal.jpg");
		width: 98%;
		height: 500px;
		color: white;
		@include backgradient;
		h2 {
			display: block;
			padding: 83% 5px 0px 20px;
		}
	}
	.img2 {
		background-image: url("../image/img_grid_secundario.jpg");
		width: 98%;
		height: 240px;
		color: white;
		@include backgradient;
		h2 {
			display: block;
			font-size: 25px;
			padding: 31% 0px 0px 20px;
		}
	}
	.img3 {
		background-image: url("../image/img_video_destacado.jpg");
		width: 98%;
		height: 240px;
		background-size: 100%;
		color: white;
		@include backgradient;
		h2 {
			display: block;
			font-size: 25px;
			padding: 31% 0px 0px 20px;
		}
	}
}

.columnistas {
	background-color: $gris-claro;
	border-top: 3px solid $rojo;
	padding: 30px 0px;
	margin-top: 40px;
	.etiqueta {
		background-color: $rojo;
		color: white;
		padding: 1px 1px;
		width: 140px;
		margin: 0 auto;
		margin-top: -40px;
	}
	.box-columnista {
		width: 150px;
		display: inline-block;
		img {
			width: 70px;
			height: 70px;
			margin-top: 20px;
			background-color: white;
			padding: 3px 3px;
			border: 1px solid grey;
		}
		h5 {
			font-weight: bold;
		}
	}
}


.destacado {
	margin: 50px 0px;
	.destacados {
		border: 1px solid grey;
		width: 350px;
		height: 280px;
		margin-bottom: 20px;
		.red-text {
			color: $rojo;
			font-weight: bold;
		}
		.dest-img {
			background-image: url("../image/img_especiales.jpg");
			background-size: 350px auto;
			background-repeat: no-repeat;
			color: white;
			@include backgradient;
			h4 {
				display: block;
				padding: 41% 0px 10px 20px;
				font-weight: bold;
			}
			.textp1 {
				padding-top: 35%;
			}
			.textp2 {
				padding-top: 29%;
			}
		}
	}
}

.ultimas-noticias {
	margin: 50px 0px;
	h5 {
		color: grey;
		display: inline;
		font-weight: bold;
	}
	.news {
		height: 100%;
		width: 100%;
		margin: 20px 0px;
		padding-right: 10px;
		.fecha {
			font-size: 12px;
		}
		h4 {
			font-weight: bold;
		}
		.photo-new {
			margin-right: 20px;
			float: left;
			width: 200px;
			height: auto;
		}
		p {
			display: inline;
			padding: 5px 0px;
		}
		.bajada {
			padding-top: 20px;
			h6 {
				display: inline-block;
			}
			.socials {
				height: 20px;
				width: auto;
			}
			.bullet {
				float: none;
				margin: 0px 10px;
			}
			.icon-red {
				color: $rojo;
			}
		}
	}
}


/* ASIDE HOME */
.suscribete {
	background-image: url("../image/trama_square.jpg");
	background-repeat: repeat;
	width: 100%;
	height: 220px;
	padding: 15% 0px 0% 0px;
	margin-bottom: 30px;
	.white-back {
		background-color: white;
		width: 90%;
		height: 90%;
		margin: 0 auto;
		img {
			margin-top: -30px;
		}
		input {
			width: 90%;
			margin-bottom: 10px;
			background-color: $gris-form;
			border: 1px solid grey;
			border-radius: 3px;
			height: 30px;
		}
		button {
			width: 90%;
			margin-bottom: 10px;
			background-color: $rojo;
			border: none;
			border-radius: 3px;
			color: white;
			padding: 2px;
		}
	}
}
.aweita {@include seccionaside (#9D3EC7);}

.fotos {
	width: 100%;
	height: auto;
	border-top: 5px solid #6E7B98;
	.tag-aside {
		font-size: 15px;
		color: white;
		background-color: #6E7B98;
		width: 60%;
		margin: -10px auto;
	}
	img {
		margin-top: 40px;
		margin-bottom: 10px;
		border: 2px solid #6E7B98;
	}
	h5 {
		color: black;
	}
	.foto-box {
		display: block;
		height: 90px;
		padding-top: 20px;
		font-size: 12px;
		img {
			width: 100px;
			height: auto;
			float: left;
			margin-right: 10px;
			margin-top: 5px;
		}
	}
}
.especiales, .blogueros-aside, .infografias {
	width: 100%;
	height: auto;
	border-top: 5px solid #6E7B98;
	margin-top: 40px;
	.tag-aside {
		font-size: 15px;
		color: white;
		background-color: #6E7B98;
		width: 60%;
		margin: -10px auto;
	}
}

.prints, .caricaturas {
	width: 100%;
	height: auto;
	border-top: 5px solid $rojo;
	margin-top: 40px;
	.tag-aside {
		font-size: 15px;
		color: white;
		background-color: $rojo;
		width: 60%;
		margin: -10px auto;
	}
}

.especiales {
	.especial1 {
		background-image: url("../image/img_especiales_aside.jpg");
		width: 100%;
		height: 150px;
		margin-top: 30px;
	}
	h5 {
		background-color: white;
		color: black;
		padding: 10px;
		height: 150px;
	}
}

.caricaturas {
	a {
		color: $rojo;
	}
	h4 {
		margin: 20px 0px;
	}
	img {
		margin-bottom: 10px;
	}
}

.blogueros-aside {
	.blogger {
		display: block;
		height: 90px;
		padding-top: 20px;
		font-size: 12px;
		img {
			width: 60px;
			height: 60px;
			float: left;
			margin-right: 10px;
			margin-top: 5px;
		}
		h6 {
			margin-bottom: 1px;
		}
		h5 {
			color: black;
		}
	}
	a {
		color: $rojo;
	}
}


.prints {
	h4 {
		margin: 20px 0px;
	}
	.print {
		display: block;
		height: 170px;
		padding-top: 20px;
		font-size: 12px;
		font-weight: bold;
		.printiny {
			width: auto;
			height: 150px;
			float: left;
			margin-right: 10px;
		}
		h4 {
			padding-top: 30px;
			font-size: 14px;
			padding-right: 20px;
			font-weight: bold;
		}
		a {
			color: $rojo;
		}
	}
	img {
		width: 100%;
		height: auto;
	}	
}

.pregunta {
	background-image: url("../image/trama_square.jpg");
	background-repeat: repeat;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding: 10px 0px;
	.pregunta-hoy, .pregunta-ayer {
		background-color: white;
		width: 90%;
		height: 80%;
		margin: 0 auto;
		padding: 55px 20px 10px 20px;
		font-size: 12px;
	}
	button {
		width: 60%;
		margin-bottom: 10px;
		background-color: $rojo;
		border: none;
		border-radius: 3px;
		color: white;
		padding: 2px;
		margin: 60px auto 5px;
		display: block;
	}
	a {
		color: $rojo;
	}
}

.infografias {
	h4 {
		margin: 20px 0px;
	}
}

.libero {@include seccionaside ($rojo);}
.elpopular {@include seccionaside (yellow);}
.wapa {@include seccionaside (red);}

.reportero {
	background-image: url("../image/trama_square.jpg");
	background-repeat: repeat;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding: 20px 0px;
	.report {
		background-color: white;
		width: 90%;
		height: 80%;
		margin: -40 auto;
		padding: 55px 20px 10px 20px;
		font-size: 12px;
		h5 {
			color: black;
		}
		.car {
			width: 100%;
			height: auto;
			margin-top: 20px;
		}
	}	
	.camera {
		margin-top: -5px;
	}
	button {
		width: 60%;
		margin-bottom: 10px;
		background-color: $rojo;
		border: none;
		border-radius: 3px;
		color: white;
		padding: 2px;
		margin: 60px auto 5px;
		display: block;
	}
	a {
		color: $rojo;
	}
}
