@mixin repisa{
	&:before , &:after{
		content: " ";
		display: block;
		clear: both;
	}
}


/* Especial box header */
@mixin especialbox ($bordercolor, $backetiqueta) {
	border: 1px solid $gris-claro;
	border-bottom: 3px solid $bordercolor;
	padding: 12px 0px;
	font-size: 12px;
	.etiqueta {
		background-color: $backetiqueta;
		color: white;
		width: 60%;
		margin: -20px auto 5px;
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.49);
	}
}


/* listas */
@mixin listas ($color, $font-size) {
	ul {
		list-style: none;
		margin-left: -45px;
		li {
			float: left;
			a {
				color: $color;
				font-size: $font-size;
			}
		}
	}
}

/* Back gradient imágenes home */
@mixin backgradient {
	.back-gradient {
		background: -moz-linear-gradient(top, rgba(252,252,252,0) 0%, rgba(72,72,72,0.1) 62%, rgba(29,29,29,0.7) 77%, rgba(3,3,3,0.79) 86%, rgba(3,3,3,0.92) 100%);
		width: 100%;
		height: inherit;
	}
}

/* Secciones aweita, el popular, Wapa, libero */
@mixin seccionaside ($color) {
	border: 1px solid grey;
	padding: 20px 10px 0px 10px;
	margin-bottom: 40px;
	.logo-seccion {
		margin-bottom: 20px;
	}
	.content-seccion {
		display: block;
		height: 80px;
		font-size: 12px;
		img {
			width: 100px;
			height: auto;
			float: left;
			margin-right: 10px;
		}
	}
	a {
		color: black;
		padding-bottom: 10px;
		border-bottom: 5px solid $color;
		display: block;
		width: 60%;
		margin: 0 auto;
		span {
			color: $color;
		}
	}
}



/* CONTACTO partes formulario */
@mixin formulario {
	background-color: $gris-form;
	border: 1px solid grey;
	padding-left: 10px;
	width: 100%;
}



