$gris-claro: #e3e3e3;
$rojo: #b81414;
$gris-form: #ededed;
$black: #141414;
$naranjo: #db4b4b;
$color-facebook: #3a70a6;
$color-twitter: #4cb8d9;
$color-google: #fc3826;
$color-mail: #fcbd00;
$color-feed: #fa952f;

$tipografia: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*$tipografia: Arial, Tahoma;*/


$tipografia: Arial, Tahoma;
$tipografia2: "oswald",arial;

$gris-oscuro: #9C9393;
$white: #FFFFFF;

